{
    "pidfile": "./phorever_cool.pid",
    "processes": [
        {
            "name": "Long Lived",
            "roles": ["rolea", "roleb"],

            "up": "./tests/commands/longlived",

            "enable_logging": true
        },
        {
            "name": "Short Lived",
            "roles": ["rolea"],

            "up": "./tests/commands/shortlived",

            "resurrect_after": 10,

            "enable_logging": true
        }
    ]
}