{
    "pidfile": "./phorever.pid",
    "timezone": "America/Chicago",
    "logging": {
        "directory": "./logs/"
    },
    "tick": 5,
    "processes": [
        {
            "name": "Long Lived",
            "roles": ["rolea", "roleb"],

            "up": "./tests/commands/longlived",

            "log_forwarding": true
        },
        {
            "name": "Short Lived",
            "roles": ["rolea"],

            "up": "./tests/commands/shortlived",

            "resurrect_after": 10,

            "clones": 2,

            "log_forwarding": true
        }
    ]
}